body{
    margin:0px;
    font-family: "Istok Web",sans-serif;
    font-size: 1rem;
}
#tb{
    
    background-color: #303036;
    padding: 10px 0;
    color: rgba(255,255,255,.8);
   
}

.tb-container{
    
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    margin: 0 96px;
}

.tb-container i{
    margin-right: 10px;
    font-size: 1rem;
    height: 1rem;
    width: 1rem;
}

 
 
.tb-contact-info i{
    margin-right: 10px;
    font-size: 1rem;
    height: 1rem;
    width: 1rem;
    color: #fff;
}
    

 .tb-social-icons i{
    margin-right: 5px;
    font-size: 1rem;
    height: 1rem;
    width: 1rem;
    
}