body{
    font-size: 1rem;
    font-family:"Istok Web",sans-serif;;
    color: rgba(255,255,255,.8);
    line-height: 1.625;
    font-weight: 400;

    margin: 0;
    padding: 0;
}
*{
  box-sizing: border-box;
    margin: 0;
    list-style: none;
    padding: 0;
}
/* top bar start */
.material-icons{
    font-size: 1rem;
    margin-right: 10px;
    color: #fff;
}
.display{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.justify-connect{
    justify-content: center;
}
#tb{
    padding: 10px 0;
    background-color: #303036; ;
}
.tb-connect{
    padding: 0 15px;
}
.tb-container-logo{
    text-decoration: none;
 color: rgba(255,255,255,.8);
 
}
.tb-container-logo:hover{
    color: #fff;
}
.tb-callback{
    margin-left: 15px;
}
.callback-decoration{
    border-bottom: 1px dashed #fff;
    line-height: 1.1;
    color: rgba(255,255,255,.8);
   
}
.callback-decoration:hover{
    border-bottom-style: solid;
    transition: all 10s ease-in;
}
/* top bar finish  */
/* slider stsrt */
#slider{
    width: 100%;
    height: 640px;
    position: relative;
    background-image:url('https://template.wbs-dvp.pro/img/intro-img1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 56px 0;
    display: flex;
    align-items: center;
}
.slider-move{
 
    position: absolute;
    left: 45%;
    bottom: 10px;
    color:black;
}
.slider-move ul {
    list-style: none;
}
.dot{
    position: relative;
    width: 14px;
    height: 14px;
    outline: 0;
    background: 0 0;
    opacity: 1;
    margin: 0 1.125rem .625rem 0;
}
.dot::after{
content: '';
position: relative;
left: 0;
bottom: 0;
width: 10px;
height: 10px;
border-radius: 50%;
color: black;
background-color: #303036;
opacity: 1;
}
.dot:hover::after{
    background-color: #2c7ae7;
    height: 100%;
    width: 100%;
}
.slider-item{
   padding: 0 0 60px 100px;
   max-width: 500px;
}
.title{
    height: 100%;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    font-family: Montserrat,sans-serif;
    line-height: 1.33;
    color:  #303036;
}
.slider-desc{
   color: #63636b;
}
.slider-item-btn{
    margin-top: 45px;
}
.btn{
    text-decoration: none;
    padding: .75em 1.75em;
    border-radius: .375rem;
    outline: 0;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: .875rem;
    transition: all .25s;
}
.btn-learn{
    background: #2876e2;
    color:#fff;
    transition: all .15s;
    }
    .btn-learn:hover{
        background: linear-gradient(to right,#2876e2 0,#3f8efc 100%);
    }
    .btn-touch{
        background: 0 0;
        border: 1px solid #303036;
        color: #303036;
        transition: all .15s;
    }
    .btn-touch:hover{
        background: linear-gradient(to right,black 0,yellow 100%);
        transition: all .15s ease-in;
        color: #fff;
    }
    /* slider stoped */
    /* our services start */
    .link-service{
        text-decoration: none;
    }
.section-padding{
    padding: 80px 0;
}
.our-service{
    background-color: #fff;
   
}
.our-services-header{
    color: black;
    text-align: center;
}
 .section-subtitle{
    font-size: 1rem;
    margin-bottom: .3125rem;
    text-transform: uppercase;
    color: #2c7ae7;
  
}
.our-service-item{
   z-index: 10;
    border: 1px solid lightblue;
    border-radius: 10px;
    padding: 24px;
    color: #303036;
    position: relative;
    text-align:justify;
    transition: all 0.25s ease-in;

  
}
.service-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97px;
    height: 97px;
    border-radius: 50%;
    background-color: #2c7ae7;
    background: linear-gradient(to right,#2876e2 0,#3f8efc 100%);
    margin: 0 auto 1.25rem;
    color: #fff;
    fill: #fff;
    transition: all .25s;
    position: relative;
}
.service-icon i{
    margin: 0;
    font-size: 48px;
    width: 48px;
    height: 48px;
    justify-content: center;
}
.services-item-title{
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
   
    font-family: Montserrat,sans-serif;;
}
.our-service-item:hover{
    background-color: blue;
    color:white;
    }
    .service-type-button{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 45px;
    }
    .see-btn{
        background-color: blue;
        color: white;
        font-size: 1rem;
        font-family: montserrat,'san serif';
        background: linear-gradient(to right,black 0,yellow 100%);
    }
    /* our services stoped */
    /* some reason start */
    #some-reason{
        background-color: #f0f4f8;
    }
    .reason-item{
        position: relative;
        display: flex;
        align-items: flex-start;
        margin-bottom: 45px;
    }
   .reason-num {
    font-size: 1.0625rem;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    color: #2c7ae7;
    margin-top: .125rem;
    position: relative;
    z-index: 1;
    padding-right: .3125rem;
}
    .reason-num::after{
        content: "";
        position: absolute;
        top:50%;
        left: 100%;
        width: 3.25rem;
        height: 1px;
        background-color: #303036;
        margin-bottom: -1px;
    }
    .reason-about{
        padding-left: 60px;
    }
    /* some reason end */
    /* our work start */
    .project-type{
        display: flex;
        align-items: center;
        justify-content: center;   
     
     
    }
    .our-work{
     margin-bottom: 45px;
     
    }
    .project-type li{
        margin-right: 24px;
        padding: 2px 5px;
    }
    .project-type li a{
        text-decoration: none;
   color:#303036;
    }
    .project-type li a:hover{
        color: #2c7ae7;
    }
    
    .our-work-item-picture img{
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 10px;
transition: all .6s ease-in;
       
    }
    .our-work-item-picture{
        position: relative;
        top: 0;
        left: 0;
        height: 400px;
        transition:all .6s ease;
      z-index: 2;
    
    }
    .transform-div{
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: blue;
        color: white;
        border-radius: 10px;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        transition:all .6s ease;
    z-index: 1;
    
       
    }
    .link a{
        color: white;
        text-decoration: none;

    }

    .our-work-item{
        position:relative;
        margin-bottom: 35px;
        box-shadow: 2px 2px 2px 2px gray;
        border-radius: 10px;
    }
    .our-work-item:hover .our-work-item-picture{
        transform: rotateY(180deg);
      
    }
    .our-work-item:hover .transform-div{
       
        transform: rotateY(180deg);
        z-index: 2;
        text-transform:none;
   
    }
    /* <!-- meet team start --> */
    .meet-team-item{
        height: 270px;
        background-color: #f0f4f8;
        height: 100%;
    }
    .meet-team-item:hover  .meet-team-social{
opacity: 1;
transition: all .25s;
    }
    .meet-team-image img {
width: 100%;
height: 270px;
object-fit: cover;
border-top-right-radius: .625rem;
border-top-left-radius: .625rem;
    }
    .meet-team-about{
        position: relative;
        padding: 24px 16px 16px 16px;
        text-align: center;
    }
    .meet-team-social{
        position: absolute;
        left: 50%;
        top: -28px;
        transform: translateX(-50%);
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        opacity: 0;
        fill: #fff;
        transition: all .25s;
    }
    .meet-team-social>i{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.75rem;
        height: 1.75rem;
        border-radius: .375rem;
        background-color: #2c7ae7;
        transition: all .25s;
        fill: white;
        color: white;
        border: 1px solid #2c7ae7;
        margin: 5px;
    }



    /* <!-- meet team finish --> */
    /*  our cliet finish*/
    .cliet-header-item{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 20px;
        background-color: #fff;
        border-radius: .625rem;
        overflow: hidden;
        color: #303036;
        transition: all .25s;
    
    }
    .cliet-header{
        padding: 32px 20px;
        border: 1px solid #d4d4e1;
        border-radius: 10px;
        transition: all .8s ease;
        height: 100%;
        
 
    }
    .cliet-header-item img{
        margin-right: 20px;
    }
    .cliet-header-about{
        text-align:left;
font-size: 1rem;
color: #63636b;
line-height: 1.625;
    font-family: "Istok Web",sans-serif;
    font-weight: 400;
    }
    .cliet-header:hover {
        box-shadow: 0.125rem 0.25rem 1.25rem 0.0875rem rgb(45 45 45 / 13%);
   
    }

    /* our cliet end */
   
