body{
    font-size: 1rem;
    font-family:"Istok Web",sans-serif;;
    color: rgba(255,255,255,.8);
    line-height: 1.625;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
*{
 transition: all .6s ease;
    margin: 0;
    list-style: none;
    padding: 0;
}
/* top bar start */
.material-icons{
    font-size: 1rem;
    margin-right: 10px;
    color: #fff;
}
.display{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.justify-connect{
    justify-content: center;
}
#tb{
    padding: 10px 0;
    background-color: #303036; ;
}
.tb-connect{
    padding: 0 15px;
}
.tb-container-logo{
    text-decoration: none;
 color: rgba(255,255,255,.8);
 
}
.tb-container-logo:hover{
    color: #fff;
}
.tb-callback{
    margin-left: 15px;
}
.callback-decoration{
    border-bottom: 1px dashed #fff;
    line-height: 1.1;
    color: rgba(255,255,255,.8);
   
}
.callback-decoration:hover{
    border-bottom-style: solid;
    transition: all 10s ease-in;
}
/* top bar finish  */
/* menu list start */
#header-menu{
    padding: 10px 0;
   position: relative;
   z-index: 15;
}
.logo.logo-ico-widht-text {
    display: flex;
    align-items: center;
}

.header-fixed .logo {
    max-height: 35px;
    height: 35px;
}
.logo {
    display: block;
    text-decoration: none;
    color: #303036;
    opacity: 1;
    font-size: 1.125rem;
    font-family: Montserrat,sans-serif;
    height: 55px;
    font-weight: 700;
}
a{
    text-decoration: none;
    color: #303036;
}
.logo .logo-ico {
    margin-right: 10px;
}

.logo img {
    max-height: 55px;
    max-width: 160px;
}
img {
    vertical-align: middle;
    border-style: none;
}
.menu-list-item{
    display: flex;
    justify-content: flex-end;
}
.open-menu{
    position: absolute;
    top: 45px;
    background-color: white;
    display: none;
    transition: all 2sn ease;
   width: 25%;
   box-shadow: 2px 4px 20px 1px rgba(45, 45, 45, 0.13);;
}
.menu-list{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.menu-list li{
    margin: 0 10px;
    padding: 10px 0;
  
}
.menu-list-link{
position: relative;
    padding: 0 10px;
    display: flex;
overflow: hidden;
transform: none;
    align-items: center;
  
}
.menu-list-item>li>a>span{
    display: block;
    transform: translateY(0);
    transition: all .4s;
}
.menu-list-item>li:hover>a>span {
   
    transform: translateY(100%);
   
}
.menu-list-item li:hover>a>span {
   
    transform: translateY(100%);
   
}
.icons-item{
    color: lightblue;
    margin-right: 0;
    margin-left: 5px;
}
.menu-list-item li:hover>.open-menu{
display: block;

}
.menu-list-item li:hover>a::after{
 transform: translateY(0%);
 transition: all .4s;
}
.menu-list-item li>ul>li{
    padding: 5px 0;
    margin: 0 10px;
}
.menu-list-item li>a::after {
    content: attr(data-title);
    position: absolute;
    left: 0;
    top: 0;
    transition: all 2s ease;
    transform: translateY(-100%);
    padding: 0 .625rem;
    width: 100%;
    transition: all .4s;
    color: #2c7ae7;
}
.ico-search{
    color: black;
    font-size: 1.5rem;
}
.header-search-ico a{
    display: flex;
    align-items: center;
}


/* menu list stop */
/* slider stsrt */ 
.keypoint{
    width: 14px;
    height: 14px;
    background-color: blue;
    border-radius: 50%;
    margin-right: 15px;
}
.keypoints{
    width: 14px;
    height: 14px;
    background-color: blue;
    border-radius: 50%;
    margin-right: 15px;
}
.keypointe{
    width: 14px;
    height: 14px;
    background-color: blue;
    border-radius: 50%;
    margin-right: 15px;
}
#slider{
    width: 100%;
    height: 640px;
    position: relative;
    background-image:url('../img/intro-img2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 56px 0;
    display: flex;
    align-items: center;
}
.slider-move{
 
    position: absolute;
    left: 45%;
    bottom: 10px;
    color:black;
}
.slider-move ul {
    list-style: none;
}
.dot{
    position: relative;
    width: 14px;
    height: 14px;
    outline: 0;
    background: 0 0;
    opacity: 1;
    margin: 0 1.125rem .625rem 0;
}

.slider-item{
   padding: 0 0 60px 100px;
   max-width: 500px;
}
.title{
    height: 100%;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    font-family: Montserrat,sans-serif;
    line-height: 1.33;
    color:  #303036;
}
.slider-desc{
   color: #63636b;
}
.slider-item-btn{
    margin-top: 45px;
}
.btn{
    text-decoration: none;
    padding: .75em 1.75em;
    border-radius: .375rem;
    outline: 0;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: .875rem;
    transition: all .25s;
}
.btn-learn{
    background: #2876e2;
    color:#fff;
    transition: all .25s linear;
    }
    .btn-learn:hover{
        background: linear-gradient(to right,#2876e2 0,blue 100%);
    }
    .btn-touch{
        background: 0 0;
        border: 1px solid #303036;
        color: #303036;
        transition: all .15s;
    }
    .btn-touch:hover{
        background: linear-gradient(to right,black 0,yellow 100%);
        transition: all .15s ease-in;
        color: #fff;
    }
    /* slider stoped */
    /* our services start */
    .section-padding{
        padding: 80px 0;
    }
    .service-item-link{
        text-decoration: none;
        cursor: pointer;
        color: #303036;
    }
    .service-items{
       position: relative;
        height: 100%;
        background-color: #fff;
        color: #303036;
        border-radius: .625rem;
        border: 1px solid #d4d4e1;
        padding: 24px;
        z-index: 3;
        overflow: hidden;
    }
    .service-items:hover{
        background-color: blue;
        color: white;
    }
    
.service-items:hover>.services-item-icon-bg {
    opacity: .14;
}
.service-items:hover>.services-items-text{
    color: white;
}
.service-items:hover .services-items-icon>i{
    color: blue;
}
.service-items:hover .services-items-icon{
    background: white;
  
}
    .services-item-icon-bg{
position: absolute;
    left: -2rem;
    top: 2rem;
    z-index: 1;
    opacity: 1;
    color: black;
    background-color:white;
    fill: black;
    opacity: 0;
    transition: all .25s .1s;
overflow: hidden;
transition: all .25s ease;
    }
    .services-item-icon-bg i {
        margin: 0;
        z-index: 0;
        color: black;
        font-size: 500px;
        width: 500px;
        height: 500px;
    }
    .our-services-header{
        text-align: center;
    }
    .section-subtitle{
        font-size: 1rem;
        margin-bottom: .3125rem;
        text-transform: uppercase;
        color: #2c7ae7;
    }
    
    .services-items-icon{
        position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97px;
    height: 97px;
    z-index: 3;
    min-width: 97px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #2c7ae7;
    background: linear-gradient(to right,#2876e2 0,#3f8efc 100%);
    margin: 0 auto 1.25rem;
    color: #fff;
    fill: #fff;
  transition: all .25s ease;

    }
    .services-items-icon i{
margin-right: 0;
font-family: 'Material Icons Outlined';
font-size: 48px;
    width: 49px;
    height: 48px;
    }
    .item{
        margin-bottom: 45px;
    }
    .services-item-title{
        position: relative;
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 1rem;
    font-weight: 700;
    font-family: Montserrat,sans-serif;
    z-index: 4;
    }
    .services-items-text{
        position: relative;
        z-index: 4;
        text-align: center;
        color: #63636b;
    transition: all .25s;
    line-height: 1.625;;
    }
    h4{
        margin: 0;
        padding: 0;
    }
    .section-btns{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-left: -1rem;
        margin-bottom: -1rem;
        margin-top: .3125rem;
    }
    .btn{
        margin-bottom: 1rem;
        margin-left: 1rem;
            text-align: center;
            font-size: 1rem;
            font-weight: 400;
            font-family: 16px;
            color: #fff;
            fill: #fff;
            background: #2876e2;
            background: linear-gradient(to right,#2876e2 0,#3f8efc 100%);
            text-decoration: none;
            padding: .75em 1.75em;
            border-radius: .375rem;
            outline: 0;
            border: none;
            cursor: pointer;
            overflow: hidden;
            transition: all .25s;
    }
    
    /* our services stoped */
    /* some reason start */
    #some-reason{
        background-color: #f0f4f8;
    }
    .reason-item{
        position: relative;
        display: flex;
        align-items: flex-start;
        margin-bottom: 45px;
    }
   .reason-num {
    font-size: 1.0625rem;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    color: #2c7ae7;
    margin-top: .125rem;
    position: relative;
    z-index: 1;
    padding-right: .3125rem;
}
    .reason-num::after{
        content: "";
        position: absolute;
        top:50%;
        left: 100%;
        width: 3.25rem;
        height: 1px;
        background-color: #303036;
        margin-bottom: -1px;
    }
    .reason-about{
        color:#303036 ;
        padding-left: 60px;
    }
    /* some reason end */
    /* toolbar section start */
    .section{
        position: relative;
    }
    .main-counter {
        position: relative;
        padding-right: 4.375rem;
        padding-left: 4.375rem;
        padding-top: 1.25rem;
    }
    .main-counter::before {
        content: "";
        position: absolute;
        right: 0;
        top: 90px;
        width: 34px;
        height: 34px;
        background-color: #2c7ae7;
        border-radius: 50%;
        background: linear-gradient(to right,#2876e2 0,#3f8efc 100%);
    }
    .main-counter-item {
        position: relative;
        width: 320px;
        height: 320px;
        border-radius: 50%;
        padding-bottom: .625rem;
    }
    .main-counter-item-center {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: #fff;
        box-shadow: 11.35px 22.275px 25.92px 1.08px rgb(14 62 129 / 29%);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
        .main-counter-item-circ {
            position: absolute;
            left: -70px;
            top: -20px;
            width: 100%;
            height: 100%;
            width: calc(100% - 20px);
            height: calc(100% - 20px);
            background-color: #2c7ae7;
            border-radius: 50%;
            overflow: hidden;
        }
        .main-counter-numb {
            font-size: 9rem;
            font-family: Montserrat,sans-serif;
            font-weight: 700;
            color: #2c7ae7;
            margin-bottom: 0;
            line-height: 1;
        }
            .main-counter::after {
                content: "";
                position: absolute;
                right: 0;
                top: 0;
                width: 50px;
                height: 50px;
                background-color: #2c7ae7;
                border-radius: 50%;
                background: linear-gradient(to right,#2876e2 0,#3f8efc 100%);
            
            line-height: 1;
        }
        .main-counter-title {
            font-size: 1.5rem;
            font-family: Montserrat,sans-serif;
            font-weight: 700;
            line-height: 1.2;
            color: #303036;
        }
        .counter-item-title {
            font-weight: 700;
            margin-bottom: 0;
            font-size: 1.5rem;
            color: #303036;
        }
        .counter-item-numb {
            font-size: 2.5rem;
            font-family: Montserrat,sans-serif;
            font-weight: 700;
            line-height: 1.2;
            color: #2c7ae7;
            margin-bottom: 5px;
        }
        .main-counter-item-circ::before {
            content: "";
            position: absolute;
            left: -25px;
            bottom: -65px;
            width: 220px;
            height: 220px;
            border-radius: 50%;
            background-color: rgba(255,255,255,.1);
            transition: all .25s;
        }
        .main-counter-item-circ::after {
            content: "";
            position: absolute;
            left: 30px;
            bottom: -50px;
            width: 220px;
            height: 220px;
            border-radius: 50%;
            background-color: rgba(255,255,255,.15);
            transition: all .25s;
        }
        .section-margin{
            width: 100%;
            height: 100%;
            margin-left: 190px;
        }
        .section-margin-second{
            margin-left: 95px;
            text-align: center;
        }
    /* tollbar end */
    /* our work start */
    .project-type{
        display: flex;
        align-items: center;
        justify-content:center ;   
     
     
    }
    .our-work{
     margin-bottom: 45px;
     
    }
    .project-type li{
        margin-right: 24px;
        padding: 2px 5px;
    }
    .project-type li a{
        text-decoration: none;
   color:#303036;
    }
    .project-type li a:hover{
        color: #2c7ae7;
    }
    
    .our-work-item-picture img{
width: 100%;
height: 100%;
object-fit: cover;
transition: all .6s linear;
       
    }
    .our-work-item-picture{
        position: relative;
        top: 0;
        left: 0;
        height: 400px;
        transition:all .6s linear;
      z-index: 2;
    
    }
    .transform-div{
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: blue;
        transform: rotateY(180deg);
        color: white;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        transition:all .6s linear;
    z-index: 1;
    
       
    }
    .link a{
        color: white;
        text-decoration: none;

    }

    .our-work-item{
        position:relative;
        margin-bottom: 35px;
        box-shadow:  #fff;
        border-radius: 10px;
    }
    .our-work-item:hover .our-work-item-picture{
        transform: rotateY(180deg);
      
    }
    .our-work-item:hover .transform-div{
       
        transform: rotateY(0deg);
        z-index: 2;
       
   
    }

   
   
  
    /* <!-- meet team start --> */
    .meet-team-item{
        background-color: white;
        border: 1px solid  lightblue;
        border-radius: 10px;
        
    }
    .meet-team-item:hover  .meet-team-social{
opacity: 1;
transition: all .25s;
    }
    .meet-team-image img {
width: 100%;
object-fit: cover;
border-top-right-radius: .625rem;
border-top-left-radius: .625rem;
    }
    .meet-team-about{
        position: relative;
        padding: 24px 16px 16px 16px;
        text-align: center;
        color: #303036;
    }
    .meet-team-social{
        position: absolute;
        left: 50%;
        top: -28px;
        transform: translateX(-50%);
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        opacity: 0;
        fill: #fff;
        transition: all .25s;
    }
    .meet-team-social>i{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.75rem;
        height: 1.75rem;
        border-radius: .375rem;
        background-color: #2c7ae7;
        transition: all .25s;
        fill: white;
        color: white;
        border: 1px solid #2c7ae7;
        margin: 5px;
    }



    /* <!-- meet team finish --> */
    /*  our cliet finish*/
    .cliet-header{
        height: 280px;
        padding: 32px 20px;
        border: 1px solid #d4d4e1;
        border-radius: 10px;
        transition: all .8s ease;
      
    }
    .cliet-header-item{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 20px;
        background-color: #fff;
        color: #303036;
        transition: all .25s;
    
    }
    
    .cliet-header-item img{
        margin-right: 20px;
    }
    .cliet-header-about{
        text-align:left;
font-size: 1rem;
color: #63636b;

    }
    .cliet-header:hover {
        box-shadow: 0.125rem 0.25rem 1.25rem 0.0875rem rgb(45 45 45 / 13%);
   border-style: none;
   transition: border .25s ease;
    }

    /* our cliet end */
    /* news start */
    .news-item{
        width: 100%;
        height: 80%;
        border: 1px solid lightblue;
        position: relative;
        border-radius: 10px;
    }
    .news-image{
        width: 100%;
        height: 60%;
    }
    .news-image img{
        width: 100%;
        height: 100%;
        object-fit:cover ;
        border-radius: 10px;
    }
    .news-info{
        padding: 35px 20px 20px 20px;
        position: relative;
    }
    .news-title{
        font-size: 1.125rem;
        font-weight: 700;
        margin-bottom: 10px;
    }
    .news-item-date{
        position: absolute;
        left: 50%;
        top: -1.125rem;
        height: 2.25rem;
        line-height: 2.25rem;
        padding: 0 .625rem;
        background-color: #2c7ae7;
        color: #fff;
        font-size: .8125rem;
        border-radius: .375rem;
        transform: translateX(-50%);
    }
    .news-info .news-title:hover{
        color: #3f8efc;
    }
    /* news end */
   /* footer start */
#footer{
    position: relative;
    background-color: #303036;
    width: 100%;
    color: #fff;
    font-size: 1rem;
  
}
.footer-link{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.footer-company-text{
    color: white;
    margin-bottom: 32px;
    text-align: justify;
}
.footer-social-links{
    display: flex;
    
    list-style: none;
    margin: 0;
    padding: 0;
    transition: all .25s;
}
.footer-social-links li a {
    display: flex;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: .375rem;
    border: 1px solid #fff;
    opacity: .8;
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}
.footer-social-links li a i{
    width: 1.125rem;
    height: 1.125rem;
    margin: auto;
    background: none;
    fill: #fff;
   
}
.footer-item{
    color: white;
    height: 100%;
    
}
.footer-item ul li{
    display: flex;
    align-items:center;
}
/* footer end */
